<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary">
    <a class="navbar-brand" href="#">iLab</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/dashboard">Inicio</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/dashboard/inventario">Inventario <span class="sr-only">(current)</span></a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="/dashboard/prestamos">Préstamos</a>
            </li>-->
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/cuenta">Mi Cuenta</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
                <li class="text-white">
                    <i class="fas fa-user-circle"></i>
                    <%= email %>
                        &nbsp;&nbsp;
                </li>
            </ul>
            <a href="/users/logout" class="btn btn-secondary">Cerrar sesión</a>
        </form>
    </div>
</nav>

<div class="pricing-header mt-5 px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Inventario</h1>
    <p>
        <a href="/dashboard/agregarinv" class="btn btn-success btn-lg my-2"><i class="fas fa-plus text-white"></i>&nbsp;&nbsp;Agregar</a>
    </p>
</div>
<% include ./partials/messages %>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Compuesto</th>
                <th scope="col">Marca</th>
                <th scope="col">Descripción</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Fecha de modificación</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i = 0; i < data.length; i++) { %>
                <tr class="table-light">
                    <td>
                        <%= data[i].compuesto %>
                    </td>
                    <td>
                        <%= data[i].marca %>
                    </td>
                    <td>
                        <%= data[i].descripcion %>
                    </td>
                    <td>
                        <%= data[i].cantidad %>
                    </td>
                    <td>
                        <%= data[i].fecha %>
                    </td>
                    <td>
                        <a href="/dashboard/editar/<%= data[i]._id %>" class="btn btn-outline-success"><i class="fas fa-pen text-muted"></i></a>
                        <button onclick="myFunction('<%= data[i]._id %>')" class="btn btn-outline-warning"><i class="fas fa-trash-alt text-danger"></i></button>
                    </td>
                </tr>
                <%} %>
        </tbody>
    </table>

    <div class="container">
        <a href="/dashboard/dashboard" class="btn btn-secondary bnt-lg"><i><i class="fas fa-arrow-left text-white"></i></i>&nbsp;&nbsp;Regresar</a>
    </div>

    <script>
        function myFunction(id) {
            var r = confirm("Deseas eliminar este registro?");
            if (r == true) {
                location.replace(`/dashboard/delete/${id}`);
            } else {
                location.replace('/dashboard/inventario');
            }
        }
    </script>